# Virtual environment
.venv/

# Generated vector database
chroma_db/

# Python bytecode
__pycache__/
*.pyc

# Environment
.env

# OS files
Thumbs.db
.DS_Store
CSE 354 Project S26.md

# Project plan (internal, not part of deliverables)
plan.md

# Binary assets / images
*.jpg
*.png
*.jpeg

# Ignored files
mock_master.py
